/*primero lo primero el css de la data*/
/*Container 1 / Primera Historia*/

.show{
  display: grid;
}

.hide{
  display:none;
}

#container{
  width: 100%;
  height: auto;
  background: #0000;

  /*agregando flexbox*/
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-flow: wrap;

}
#box{
  width: 250px;
  height: 300px;
  margin:auto;
  background: #ffff;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

/*añadiendo responsive @media query*/

@media screen and (max-width:1200px) {
  #box{
    width:40%;
  }
}

/*Diseño de las letras*/
#name{
 font-family: 'Marcellus SC', serif;
 text-transform: uppercase;
 font-size: 80%;
 font-weight: bold;
 color: black;
 transition: all .5s;
 background-color: #0BC6E3;
 box-sizing: content-box;
 text-align: center;
 transform: translate(0%, -150%);
}

#title{
  font-size: 67%;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #BDB76B;
  box-sizing: content-box;
  text-align: center;
  transform: translate(0%, -390%);
  transition: all .5s;
}
}

#logo{
  display:block;
  margin:auto;
  width:50% ;
  height:25%;
}

#selection{
  margin: 3%;
  padding: 2%;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-flow: wrap;

}

.splash{
  width:45% ;
  height:35%;
  border-radius: 50% ;
  border: #BDB76B 5px double;
}


@media only screen and (min-width: 768px) {
  #logo{
    width:35% ;
    height:17%;
  }
    .splash{
     width:60% ;
     height:50%;
     border-radius:60% ;
     border: #BDB76B 10px double;
     }

    #name{
    font-family: 'Marcellus SC', serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    transition: all .5s;
    background-color: #0BC6E3;

    box-sizing: content-box;
    text-align: center;
    font-size: 150%;
    transform: translate(0%, -100%);
    }
    #title{font-size: 120%;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  word-spacing: 3px;
  background-color: #BDB76B;
  box-sizing: content-box;
  text-align: center;
  transform: translate(0%, -216%);}
    }
  }
/*Container de Data filtrada Talk*/
#containerTank{
  width: 100%;
  height: auto;
  background: #FF4500;

  /*agregando flexbox*/
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-flow: wrap;
  display: none;
}

#containerMage{
  width: 100%;
  height: auto;
  background: #FFFF00;

  /*agregando flexbox*/
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-flow: wrap;
  display:none;
}

#containerAssassin{
  width: 100%;
  height: auto;
  background: #ADFF2F;

  /*agregando flexbox*/
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-flow: wrap;
  display:none;
}
#containerFighter{
  width: 100%;
  height: auto;
  background: #EE82EE;

  /*agregando flexbox*/
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-flow: wrap;
  display:none;
}
#containerMarksman{
  width: 100%;
  height: auto;
  background: #FF69B4	;

  /*agregando flexbox*/
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-flow: wrap;
  display:none;
}
#containerSupport{
  width: 100%;
  height: auto;
  background: #FFE4E1;

  /*agregando flexbox*/
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-flow: wrap;
  display:none;
}
